
body
{
    background: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

html
{
    height: 100%;
}

h1
{
    font-size: 5em;
    font-weight: 700;
}

hr
{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.principal
{
    text-align: center;
    padding-top: 25%;
}